#basic-layout .header {
    background-color: white;
    margin-bottom: 16px;
    color: unset;
    padding-inline: 20px;
}

#basic-layout .footer {
    background-color: #efefef;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 16px;
}

#basic-layout .content {
    padding: 20px;
    margin-bottom: 20px;
    background: linear-gradient(to right, #fefefe, #fff);
}